@import '@bootstrap/scss/functions';
@import '@bootstrap/scss/variables';
@import '@bootstrap/scss/mixins';

#recipeDetailWrapper {
  h1 {
    margin-bottom: 16px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  #recipeTopWrapper {
    .mobile {
      display: none;
    }

    .laptop {
      display: flex;
    }

    #recipeSummaryDetailWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid var(--mp-light-base);

      #recipeSummaryDetail {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
            
        img {
          object-fit: cover;
          width: 300px;
          height: 200px;
          margin-bottom: 4px;
        }
        
        #recipeSummaryCounterWrapper {
          justify-content: center;
      
          span {
            display: inline-flex;
            align-items: center;
            font-weight: 700;
    
            svg {
              margin-right: 4px;
            }
          }
        }
    
        #recipeSummaryComment {
          margin: 16px 32px 0 32px;
          font-size: 14px;
        }
      }
    }
  
    #recipeIngredientsWrapper {
      margin-left: 32px;

      ul {
        margin-bottom: 0;
      }
    }
    
    #recipeActionWrapper {
      gap: 16px;
      margin: 8px auto 0 auto;
    }

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;

      .mobile {
        display: flex;
      }

      .laptop {
        display: none;
      }

      & > .col {
        &:not(:first-of-type) {
          padding-top: 8px;
        }

        &:not(:last-of-type) {
          padding-bottom: 8px;
        }

        border-bottom: 1px solid var(--mp-light-base);
      }

      #recipeSummaryDetailWrapper {
        flex-direction: row;
        align-items: start;
        border-right: none;

        #recipeSummaryDetail {
          margin-left: auto;

          #recipeSummaryComment {
            margin: 16px 8px 0 8px;
          }
        }
      }

      #recipeIngredientsWrapper {
        margin-left: 0;
      }
    }
  }
  
  #recipeStepsWrapper {
    padding-top: 32px;

    @include media-breakpoint-down(md) {
      padding-top: 8px;
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0 32px;
      margin-top: 16px;

      li {
        text-align: justify;
      }
    }
  }
}