@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.mobile {
  display: none;
}

.laptop {
  display: block;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@include media-breakpoint-down(md) {
  .mobile {
    display: block;
  }

  .laptop {
    display: none;
  }
}

#mainWrapper {
  padding: 0;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }
}

#navbar {
  width: 220px;
  height: 100%;
  position: fixed;
  padding: 0 16px;
  background-color: var(--mp-dark-base);
  border-right: 1px solid var(--mp-dark-lighter);
  z-index: 10;
  overflow: auto;
  
  #laptopMenuWrapper {
    height: calc(100% - 24px - 200px);
    
    a {
      margin: 8px 0;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
      
      svg {
        min-width: 1.3em;
        min-height: 1.3em;
        color: var(--mp-theme);
      }
    }
  }
  
  a {
    img {
      width: 100%;
      margin-bottom: 8px;
    }
  }

  h1 {
    margin: 0;
  }

  @include media-breakpoint-down(lg) {
    width: 160px;
    padding: 0 8px;
    overflow: hidden;

    #laptopMenuWrapper {
      height: calc(100% - 24px - 150px);
    }
  }
  
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid var(--mp-dark-lighter);

    button {
      margin: 0 8px;
      height: fit-content;
    }
  }
}

#menuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  #menuLinkWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  
    a {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      font-weight: 500;
  
      svg {
        min-width: 1.3em;
        min-height: 1.3em;
        color: var(--mp-theme);
      }
    }
  }

  .versionWrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Consolas', monospace;
    text-align: right;
    word-break: break-word;
    align-self: flex-end;
    font-size: small;
  }
}

#appWrapper {
  margin-left: 220px;
  padding: 0 16px;

  @include media-breakpoint-down(lg) {
    margin-left: 160px;
  }

  @include media-breakpoint-down(md) {
    margin: 70px 0 0 0;
  }

  h1 {
    padding-top: 16px;
    text-align: center;
  }
}