#navbar {
  height: 100%;
  position: fixed;
  padding: 0 calc(var(--bs-gutter-x) * 0.5);
  background-color: var(--mp-dark-base);

  a {
    margin: 8px 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;

    img {
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

#appWrapper {
  margin-left: 16.666667%;

  h1 {
    padding-top: 16px;
    text-align: center;
  }
}