@import "~bootstrap/scss/bootstrap";


@font-face {
  font-family: 'Nunito';
  font-weight: 200;
  src: local('Nunito'), url(./fonts/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  src: local('Nunito'), url(./fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito-Regular.ttf) format('truetype');
}  

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  src: local('Nunito'), url(./fonts/Nunito-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  src: local('Nunito'), url(./fonts/Nunito-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: local('Nunito'), url(./fonts/Nunito-Bold.ttf) format('truetype');
}  

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  src: local('Nunito'), url(./fonts/Nunito-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: local('Nunito'), url(./fonts/Nunito-Black.ttf) format('truetype');
}

:root {
  --mp-blue:#0d6efd;
  --mp-indigo:#6610f2;
  --mp-purple:#6f42c1;
  --mp-pink:#d63384;
  --mp-red:#dc3545;
  --mp-orange:#fd7e14;
  --mp-yellow:#ffc107;
  --mp-green:#198754;
  --mp-teal:#20c997;
  --mp-cyan:#0dcaf0;
  --mp-gray:#757575;
  --mp-gray-dark:#4f4f4f;
  --mp-primary:#1266f1;
  --mp-secondary:#b23cfd;
  --mp-success:#00b74a;
  --mp-info:#39c0ed;
  --mp-warning:#ffa900;
  --mp-danger:#c31030;
  --mp-white:#fff;
  --mp-black:#000;

  --mp-light-lighter:#fffcf6;
  --mp-light-base:#ecdbba;
  --mp-light-base2:#d6c8aa;
  --mp-light-darker:#a98d58;
  --mp-dark-lighter:#2c2c2c;
  --mp-dark-lighter2:#242424;
  --mp-dark-base:#161616;
  --mp-dark-darker:#070707;
  --mp-theme:#c84b31;
  --mp-accent:#346751;

  --bs-body-color: var(--mp-light-base);
  --bs-link-color: var(--mp-light-base);
  --bs-border-color: var(--mp-dark-lighter);
  --bs-link-hover-color: var(--mp-theme);
  
  .modal {
    --bs-modal-bg: var(--mp-dark-base);
  }

  .offcanvas {
    --bs-offcanvas-color: var(--mp-light-base);
    --bs-offcanvas-bg: var(--mp-dark-base);

    .offcanvas-header .btn-close {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2016%2016%27%20fill%3D%27%23ecdbba%27%3E%3Cpath%20d%3D%27M.293.293a1%201%200%200%201%201.414%200L8%206.586%2014.293.293a1%201%200%201%201%201.414%201.414L9.414%208l6.293%206.293a1%201%200%200%201-1.414%201.414L8%209.414l-6.293%206.293a1%201%200%200%201-1.414-1.414L6.586%208%20.293%201.707a1%201%200%200%201%200-1.414z%27%2F%3E%3C%2Fsvg%3E");
    
      &:focus {
        box-shadow: none;
      }
    }
  }

  .btn-primary {
    --bs-btn-color: var(--mp-light-base);
    --bs-btn-bg: var(--mp-dark-lighter);
    --bs-btn-border-color: var(--mp-dark-lighter);
    --bs-btn-hover-color: var(--mp-light-base);
    --bs-btn-hover-bg: var(--mp-dark-lighter2);
    --bs-btn-hover-border-color: var(--mp-dark-lighter2);
    --bs-btn-active-color: var(--mp-light-base);
    --bs-btn-active-bg: var(--mp-dark-lighter2);
    --bs-btn-active-border-color: var(--mp-dark-lighter2);
  }

  .btn-secondary {
    --bs-btn-color: var(--mp-black);
    --bs-btn-bg: var(--mp-light-base);
    --bs-btn-border-color: var(--mp-light-base);
    --bs-btn-hover-color: var(--mp-black);
    --bs-btn-hover-bg: var(--mp-light-base2);
    --bs-btn-hover-border-color: var(--mp-light-base2);
    --bs-btn-active-color: var(--mp-black);
    --bs-btn-active-bg: var(--mp-light-base2);
    --bs-btn-active-border-color: var(--mp-light-base2);
  }

  .btn:focus-visible {
    box-shadow: 0 0 0 0.25rem rgb(44 44 44 / 25%);
  }

  .form-control {
    background-color: var(--mp-dark-lighter);
    border-color: var(--mp-dark-lighter);
    color: var(--mp-light-base);

    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(44 44 44 / 25%);
    }
  }

  .form-select {
    color: var(--mp-light-base);
    background-color: var(--mp-dark-lighter);
    border-color: var(--mp-dark-lighter);
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2016%2016%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%23ecdbba%27%20stroke-linecap%3D%27round%27%20stroke-linejoin%3D%27round%27%20stroke-width%3D%272%27%20d%3D%27m2%205%206%206%206-6%27%2F%3E%3C%2Fsvg%3E");
  
    &:focus {
      box-shadow: 0 0 0 0.25rem rgb(44 44 44 / 25%);
    }
  }
}

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--mp-dark-base);
}

html, #root, .app, .app > .row {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
