#recipeEditWrapper {
  h1 {
    margin-bottom: 8px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  #recipeEditActionWrapper {
    justify-content: center;
    margin-bottom: 16px;
  
    svg {
      color: var(--mp-dark-base);
    }
  }
  
  #recipeSummaryDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--mp-light-base);

    img {
      object-fit: cover;
      width: 300px;
      height: 200px;
      margin-bottom: 4px;
    }

    #recipeImgButton {
      padding: 0;
      
      label {
        padding: 6px 12px 6px 12px;
        cursor: pointer;
      }

      #recipeImgInput {
        display: none;
      }
    }

    #recipeSummaryCounterWrapper {
      justify-content: center;
  
      span {
        display: inline-flex;
        align-items: center;
        font-weight: 700;

        svg {
          margin-right: 4px;
        }
      }
    }

    #recipeSummaryCommentWrapper {
      width: calc(300px + 2rem + 24px);
      margin: 16px auto 0 auto;
    }

    #recipeNameInput {
      width: calc(300px + 2rem + 24px);
      margin-bottom: 8px;
    }

    #recipeImageInputWrapper {
      justify-content: center;
    }

    #recipeServingsInput, #recipePreptimeInput, #recipeCookingtimeInput {
      width: 70px;
      margin-right: 4px;
    }
  }

  #recipeIngredientsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ingredientGroupWrapper {
      width: 100%;

      .ingredientGroupInputWrapper {
        margin-bottom: 8px;
        display: flex;
  
        .ingredientGroupInput {
          width: 300px;
          margin-right: 4px;
        }
      }

      .ingredientOptionalInput {
        cursor: pointer;
        margin: 0 4px;
      }
  
      .ingredientAddWrapper {
        display: flex;
        justify-content: center;
      }

      ul {
        list-style-type: none;
  
        li {
          margin-bottom: 4px;
  
          .ingredientQuantityInput {
            width: 80px;
          }

          .ingredientUnitInput {
            width: 150px;
          }
        }
      }
    }
  }

  #recipeStepsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;

    ol {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;
      padding: 0 32px;
      margin: 16px 0 8px 0;

      .recipeStepWrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        
        li {
          text-align: justify;
        }
      }
    }

    button {
      height: fit-content;
      width: fit-content;
    }
  }
}